# Configuración Básica de la Aplicación
SECRET_KEY=podologia_web_secret_key_1234
DATABASE_URL=sqlite:///podologia.db

# Configuración de Correo Electrónico (Flask-Mail)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contraseña_de_aplicacion
MAIL_DEFAULT_SENDER=no-reply@podologiaweb.com

# Configuración de Almacenamiento en la Nube (Cloudinary)
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
